//- #welcome(style='float:right')
//-   p Welcome 
//-   b=user.username + "!"
#language(style="float:right; padding-right:20px" )
  +dropdown("Language",[
    {text:"中文",url:"/c"},
    {text:"English",url:"/"}])
a(href="/seller")
    img.center(src='images/titleS.jpg', alt='logo',style='max-width:100%; height:auto;width:auto')
//- 
//- .center
//-   #formCenter
//-     form.center(id = 'searchbox', name ='search', action='/search', method='GET')
//-       .col-md-8
//-         input(class="form-control" type="text",name="searchbar",placeholder="Search...",value=titleInput)
//-       .col-md-1
//-         input(class="btn btn-default" type="submit",value="search")
      //br

  
