
a.btn.btn-default.btn-lg.right(href="/login",role="button") Login
#language(style="float:right")
	+dropdown("Language",[
	 	{text:"中文",url:"/c"},
	 	{text:"English",url:"/"}
	 ])
a(href="/")
	img.center(src='images/title.jpg', alt='logo',style='max-width:100%; height:auto;width:auto',href="/")

.center
	#formCenter
		form.center(id = 'searchbox', name ='search', action='/search', method='GET')
			.col-md-8
				input(class="form-control" type="text",name="title",placeholder="Search...",value=titleInput)
			.col-md-1
				input(class="btn btn-default" type="submit",value="search")
