p(style='float:right') Welcome 
p=user.username
img.center(src='images/title.jpg', alt='logo',style='max-width:100%; height:auto;width:auto')

.center
  #formCenter
    form.center(id = 'searchbox', name ='search', action='/search', method='GET')
      .col-md-8
        input(class="form-control" type="text",name="title",placeholder="Search...",value=titleInput)
      .col-md-1
        input(class="btn btn-default" type="submit",value="search")
      //br

  
