
.navbar.navbar-default
  .navbar-header
    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
  #navbar.navbar-collapse.collapse
    ul.nav.navbar-nav
      li 
        a(href='/sellerListing?user=#{user.username}') My listings
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          | History 
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='/buyHistory') Purchase
          li
            a(href='/saleHistory?user=#{user.username}') Sale
      li
        a(href='/sellerAdd') Add Listing
    ul.nav.navbar-nav.navbar-right
      li
        a(href='/seller?user=#{user.username}') Profile
      li
        a(href='/') Buy
      li.active
        a(href='/logout') Logout
