.navbar.navbar-default
  .navbar-collapse.collapse
    ul.nav.navbar-nav
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          | Women 
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='#') Top Hats
          li
            a(href='#') Beanies
          li
            a(href='#') Caps
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          | Men 
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='#') Top Hats
          li
            a(href='#') Beanies
          li
            a(href='#') Caps
    ul.nav.navbar-nav.navbar-right
      li
        a(href='/') Home
      li
        a(href='#') Contact
      li
        a(href='#') Help
