extends ../node_modules/jade-bootstrap/_bootstrap
append(rel="stylesheet",href="stylesheets/style.css")
head
	title=title
	//meta(name="viewport" content="width=device-width, initial-scale=1")
append styles
	link(rel="stylesheet", href="/stylesheets/jumbotron-narrow.css")
	link(rel="stylesheet" href="/stylesheets/style.css")
block body	
	.container 
		.header 
			include ./partials/header.jade
		include ./partials/navbar.jade
		form(action="/addReview",method="post",id="form1")
			h1 Review
			.row
				.col-md-4
					h4 Rating
					p Your rating out of 5
					select.form-control#month(name='rating', onchange='', size='1', type='number')
						option(value='01') 1
						option(value='02') 2
						option(value='03') 3
						option(value='04') 4
						option(value='05') 5

			
			h4 Description
			p Comments on the product received
			textarea(class="form-control",rows="10", name="ReviewDesc", form="form1" placeholder="description")
			
			br
			br
			input.btn.btn-success(type="submit" form="form1" value="Submit")
			input(name="SaleKey" value="#{saleKey}" form="form1" style="visibility: hidden")
