extends ../node_modules/jade-bootstrap/_bootstrap
append(rel="stylesheet",href="stylesheets/style.css")
head
    title=title
    //meta(name="viewport" content="width=device-width, initial-scale=1")
append styles
    link(rel="stylesheet", href="/stylesheets/jumbotron-narrow.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
block body  
    .container 
        .header 
            include ./partials/headerSeller.jade
        include ./partials/navbarSeller.jade
        //- a(href='shop.html')
        //-     p(style='float:right') Add a listing
        //-     span.glyphicon.glyphicon-plus-sign(style="font-size:3em;float:right")
        #padding
            h2(style="padding-left: 10px;") Shopping Cart
            br

            .panel.panel-default
                .panel-heading
                    h3.panel-title Name of hat
                        span.glyphicon.glyphicon-minus-sign.red(style="font-size:1.6em;float:right")
                .panel-body
                    .col-md-2
                        img.listing(src=user.cart[0].name)
                        br
                    .col-md-6
                        h4 Price
                        p $16
                        h4 Description
                        p
                            |Very good hats. Good quality and good price.

                    .col-md-2

                        +table(["Colour","Quantity"],[
                        ["Black","15"],
                        ["White","10"],
                        ["Blue","20"]
                        ],"table-striped table-bordered")


            +panel-default("Default Panel")
                .col-md-2
                    img(src="images/p1.jpg")
                    br
                .col-md-6
                    h4 Claudia Polik
                    p
                        |Very good hats. Good quality and good price.
        
                
                
