extends ../node_modules/jade-bootstrap/_bootstrap
append(rel="stylesheet",href="stylesheets/style.css")
head
	title=title
	//meta(name="viewport" content="width=device-width, initial-scale=1")
append styles
	link(rel="stylesheet", href="/stylesheets/jumbotron-narrow.css")
	link(rel="stylesheet" href="/stylesheets/style.css")
block body	
	.container 
		.header 
			if(!user.loggedIn)
				include ./partials/headerLoggedIn.jade
			else
				include ./partials/header.jade

			//shopping cart
			a(href='/cart')
				#para(style='float:right; font-size:1.5em;color:red') 
					p(style='display:inline') (
					p(style='display:inline')=user.cart.length
					p(style='display:inline') ) 
				span.glyphicon.glyphicon-shopping-cart.black(style="font-size:2.5em;float:right")
			br
		include ./partials/navbar.jade
	.container
		.jumbotron
				h1 Welcome to Hats!
				p.lead
					|Don't have an account? No worries! Sign up for free today and get a	FREE $5 voucher! 
				p
					a.btn.btn-lg.btn-success(href='#', role='button') Sign up!
		.row
			.col-md-4
				.center
					h2 Trending
					p 
						img.center(src='images/1.jpg', alt='logo')
					p
						a.btn.btn-default(href="#",role="button") View details &raquo;
			.col-md-4
				.center
					h2 Popular
					p
						img.center(src='images/2.jpg', alt='logo')
					p
						a.btn.btn-default(href="#",role="button") View details &raquo;
			.col-md-4
				.center
					h2 New
					p
						img.center(src='images/3.jpg', alt='logo')
					p
						a.btn.btn-default(href="#",role="button") View details &raquo;
	
	
