extends ../node_modules/jade-bootstrap/_bootstrap
append(rel="stylesheet",href="stylesheets/style.css")
head
	title=title
	//meta(name="viewport" content="width=device-width, initial-scale=1")
append styles
	link(rel="stylesheet", href="/stylesheets/jumbotron-narrow.css")
	link(rel="stylesheet" href="/stylesheets/style.css")
block body	
	.container 
		.header 
			include ./partials/header.jade
		include ./partials/navbar.jade
	.container
		.row
			.col-md-4
				.center
					h2 Trending
					p 
						img.center(src='images/1.jpg', alt='logo')
					p
						a.btn.btn-default(href="#",role="button") View details &raquo;
			.col-md-4
				.center
					h2 Popular
					p
						img.center(src='images/2.jpg', alt='logo')
					p
						a.btn.btn-default(href="#",role="button") View details &raquo;
			.col-md-4
				.center
					h2 New
					p
						img.center(src='images/3.jpg', alt='logo')
					p
						a.btn.btn-default(href="#",role="button") View details &raquo;
	
	
