extends ../node_modules/jade-bootstrap/_bootstrap

head
	title=title
	
block body
	.row
		.col-xs-1
			h1 Hats
		.col-xs-6
			img(src='images/logo.png', alt='logo',style='width:70px;height:70px;')
		.col-xs-4
			+navbar("","dropdown_menu")
				+nav_item("index.html","active") Home
				+nav_item("about.html") About
				+nav_item("contact.html") Contact
	//- +nav-pills-pull-right([{text:"Home",href:"#"},{text:"Profile",href:"#"},{text:"Message",href:"#"}],0)
	+navbar("","dropdown_menu")
		//- +nav_item("index.html","active") Home
		//- +nav_item("about.html") About
		//- +nav_item("contact.html") Contact
		+nav_item_dropdown("#")(label="Women")
			+nav_item("#") Top Hats
			+nav_item("#") Beanies
			+nav_item("#") Caps
			//- +nav_divider
			//- +nav_header Nav header
			//- +nav_item("#") Separated link
			//- +nav_item("#") One more separated link
		+nav_item_dropdown("#")(label="Men")
			+nav_item("#") Top Hats
			+nav_item("#") Beanies
			+nav_item("#") Caps
	h1 Trending hats
	+carousel("Top hats",[
	{image:"images/1.jpg"},
	{image:"images/2.jpg"},
	{image:"images/3.jpg"},
	])
	h1 Popular hats
	+carousel("Top hats",[
	{image:"images/1.jpg"},
	{image:"images/2.jpg"},
	{image:"images/3.jpg"},
	])
	h1 New hats
	+carousel("Top hats",[
	{image:"images/1.jpg"},
	{image:"images/2.jpg"},
	{image:"images/3.jpg"},
	])
	//- +navbar("Colenso","dropdown_menu")
	//- 	
	//- 			
	//- 	+nav_item("/search") Search
	//- 		span
	//- 			+icon("search")
	//- 	+nav_item("/add") Add
	//- 		span
	//- 			+icon("plus")
	//- 	+nav_item("/history") History
	//- 		span
	//- 			+icon("th-list")
