//
   Created by rob on 18/05/16.

extends ../node_modules/jade-bootstrap/_bootstrap
append(rel="stylesheet",href="stylesheets/style.css")
head
    title=title
    //meta(name="viewport" content="width=device-width, initial-scale=1")
append styles
    link(rel="stylesheet", href="/stylesheets/jumbotron-narrow.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
block body
    .container
        .header
            include ./partials/header.jade
        include ./partials/navbar.jade


        form.well(id='form-login', method='post')
            h1 #{error}
            h2 Welcome to Hats!
            h6 Fill in the form to register a new account
            .form-group
                label User name
                input.form-control(type='text', id='user-rg', name='username')
            .form-group
                label Pass word
                input.form-control(type='password', id='pass-rg', name='password')
            .form-group
                label Address
                input.form-control(type='text', id='address-tf', name='address')
                label City
                input.form-control(type='text', id='city-tf', name='city')
                label PostCode
                input.form-control(type='number', id='postcode-tf', name='postcode')

            h2 Register Your credit card for extra fast purchasing of your favourite hats!
            .form-group
                label Credit Card number
                input.form-control(type='number', id='cc-tf', name='cc')
                label Expiry
                input.form-control(type='number', id='exp-tf', name='exp')
                label CVV
                input.form-control(type='number', id='cvv-tf', name='cvv')

            .controls
                button(type='submit').btn.btn-primary.button-sign-in
                    +submit("Register")