//
   Created by rob on 4/05/16.

extends ../node_modules/jade-bootstrap/_bootstrap

head
    title=title

append styles
    link(rel="stylesheet", href="/stylesheets/jumbotron-narrow.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
block body  
    .container 
        .header 
            include ./partials/header.jade
            
        include ./partials/navbar.jade
    .container

        .row
            .col-md-3

                form(id = 'searchbox', name ='search', action='/search', method='GET')
                    p
                    +input("text","txtName","Eg: top hat","Filter", value = "searchbar")
                    h5
                        b Minimum Price
                    input(type="range" min="0" max="500" value="0" step="50" onload="showMinValue(0)" onchange="showMinValue(this.value)" name = "minprice")
                    span(id="minrange")

                    h5 
                        b Maximum Price
                    input(type="range" min="0" max="500" value="500" step="50" onchange="showMaxValue(this.value)" onload="showMaxValue(this.value)" name = "maxprice")
                    span(id="maxrange")

                    script.
                        function showMinValue(newValue){
                            document.getElementById("minrange").innerHTML=newValue;}
                    script.
                        function showMaxValue(newValue) {
                            document.getElementById("maxrange").innerHTML = newValue;
                        }
                    br
                    h5
                        b Colour
                    input(type="checkbox", name="red")
                    |   red
                    p
                    input(type="checkbox", name="green")
                    |   green
                    p
                    input(type="checkbox", name="blue")
                    |   blue
                    br
                    br
                    +submit("Filter")


            .col-md-9
                .results
                    if resultslength > 0
                        each listing in results
                                .instanceBox
                                    //link to the listing page
                                    a(href="/listing?ListingKey=" + listing.ListingKey)
                                        +panel-default(listing.ListingTitle)
                                            .col-md-3
                                                img.listing(src="/images/"+listing.ListingImage)
                                                br
                                            .col-md-7
                                                h4 Price
                                                p $ #{listing.ListingPrice}
                                                h4 Description
                                                p
                                                    |#{listing.ListingDesc}
                                            .col-md-2
                                                if(user.admin)
                                                    form(id = 'searchbox', name ='search', action='/search', method='GET')
                                                        input(type="hidden" name="target" value="#{listing.ListingKey}")
                                                        submit("delete")
                                                        button(type= 'submit')
                                                            span.glyphicon.glyphicon-minus-sign.red(style="font-size:2em;float:right" type = 'submit' value = 'delete')
                                        
