extends ../node_modules/jade-bootstrap/_bootstrap
append(rel="stylesheet",href="stylesheets/style.css")
head
	title=title
	//meta(name="viewport" content="width=device-width, initial-scale=1")
append styles
	link(rel="stylesheet", href="/stylesheets/jumbotron-narrow.css")
	link(rel="stylesheet" href="/stylesheets/style.css")
block body	
	.container 
		.header 
			include ./partials/header.jade
		include ./partials/navbar.jade
		
	.container
		.row
			.col-md-7
				form(action="sellerAdd",method="get",id="form1")
					p Listing title
					input(class="form-control",type="text", name="ListingTitle", placeholder="title",required)
					//How should colours be submitted? Number of each colour, or only allow up to 1 for each colour?
					p Colours in stock
					//Not working because array is being passed in asynchronously (not in order) so it is empty...
					p #{colours.ColourKey}
					each value in colours
						//var colourKey = #{value.ColourKey}
						input(type="checkbox",name="Red")
					//input(type="checkbox",name="Red")
					p Description
					textarea(class="form-control",rows="10", name="ListingDesc", placeholder="description")
					p Price
					input(class="form-control",type="number",step="0.01", name="ListingPrice", placeholder="0")
					p Listing image upload
					input(type="file",name="ListingImage")
					//+checkbox-inline(name="Red")
					input(type="submit", value="Submit")
				//+input("text","txtName","Title","Listing title")
				//+input("text","description","Description","Description")
				//+checkbox-inline("Red")
				//+checkbox-inline("Blue")
				//+checkbox-inline("Green")
				//p
				//+radio-inline("Top Hat")
				//+radio-inline("Cap")
				//+radio-inline("Sombrero")
				//p
				//+submit("Submit")
			//button(type="submit",form="form1",value="Submit") Submit