extends ../node_modules/jade-bootstrap/_bootstrap
append(rel="stylesheet",href="stylesheets/style.css")
head
	title=title
	//meta(name="viewport" content="width=device-width, initial-scale=1")
append styles
	link(rel="stylesheet", href="/stylesheets/jumbotron-narrow.css")
	link(rel="stylesheet" href="/stylesheets/style.css")
block body	
	.container 
		.header 
			include ./partials/headerSeller.jade
		include ./partials/navbarSeller.jade
		
		
		.col-md-3
				img(src="images/profile.png")
		.col-md-4
				h2 Joely Huang
				a(href='shop.html')
					span.glyphicon.glyphicon-edit(style="font-size:2em;float:right")
				h4 Company
				p hat collector
				h4 Contact
				p lslsl@gmail.com
				//- button.btn.btn-default.btn-lg(type='button')
				//- 	span.glyphicon.glyphicon-plus-sign
	.container		
		.padding
			#span(style="font-size:2em;")
				br
				span.glyphicon.text-danger.glyphicon-heart
				span.glyphicon.text-danger.glyphicon-heart
				span.glyphicon.text-danger.glyphicon-heart
				span.glyphicon.text-danger.glyphicon-heart
				span.glyphicon.text-danger.glyphicon-heart-empty
				br
			h2(style='font-style:bold') Reviews
			br
			br
			.col-md-2
				img(src="images/p1.jpg")
				br
			.col-md-8
				#span(style="font-size:1.2em;")
					br
					span.glyphicon.text-danger.glyphicon-heart
					span.glyphicon.text-danger.glyphicon-heart
					span.glyphicon.text-danger.glyphicon-heart
					span.glyphicon.text-danger.glyphicon-heart
					span.glyphicon.text-danger.glyphicon-heart-empty
					br
					
				h4 Claudia Polik
				p
					|Very good hats. Good quality and good price.
		
				
				
