extends ../node_modules/jade-bootstrap/_bootstrap
append(rel="stylesheet",href="stylesheets/style.css")
head
	title=title
	//meta(name="viewport" content="width=device-width, initial-scale=1")
append styles
	link(rel="stylesheet", href="/stylesheets/jumbotron-narrow.css")
	link(rel="stylesheet" href="/stylesheets/style.css")
block body	
	.container 
		.header 
			include ./partials/headerSeller.jade
		include ./partials/navbarSeller.jade
		//- a(href='shop.html')
		//- 	p(style='float:right') Add a listing
		//- 	span.glyphicon.glyphicon-plus-sign(style="font-size:3em;float:right")
		#padding
			h2(style="padding-left: 10px;") Listings
			br
			br
			+panel-default("Default Panel")
				.col-md-2
					img(src="images/p1.jpg")
					br
				.col-md-6
					h4 Claudia Polik
					p
						|Very good hats. Good quality and good price.
			+panel-default("Default Panel")
				.col-md-2
					img(src="images/p1.jpg")
					br
				.col-md-6
					h4 Claudia Polik
					p
						|Very good hats. Good quality and good price.
		
				
				
