body {
  padding: 50px;
  font: 15px arial, sans-serif;
}

a {
  color: grey;
}

h2{
  font: 30px arial, sans-serif;
  color: black;
  display: inline;

}

.black{
  color:black;
}

.red{
  color:red;
}

.padding{
  padding-left: 15px;
}

h4{
  text-decoration: underline;
  color: black;
}

.center {
    text-align: center;
    margin: auto;
    /*width: 60%;*/
    padding: 10px;
}

img.listing{
  max-width: 150px;
}

img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

formCenter{
    display: block;
    text-align: center;
}

form.center{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 80%;
}

.btn.btn-default.right{
  float: right;
}

.navbar.navbar-default{
  border-style:solid;
  border-color: #CCC;
  background-color: white;
}

.yellow{
  color:yellow;
}
